{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda LuiGui</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    {% block style %} {% endblock %}
    <!-- Iconos -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Animaciones -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    {% csrf_token %}
</head>

<body id="body-top">
    <!-- Menu -->
    <header>
        <a href="{% url 'inicio' %}"><img src="{% static 'images/logo.png' %}" class="logo"></a>

        <ul class="items-navbar">

            <a href="{% url 'inicio' %}"><img src="{% static 'images/logo.png' %}" class="logo-responsive"></a>
            <div class="cerrar-icono"><i class="ri-close-line"></i></div>
            {% if user.is_authenticated %}
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
                <li><a href="{% url 'galeria' %}">Galeria</a></li>
                <li><a href="{% url 'historial' %}">Historial</a></li>
            {% else %}
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
                <li><a href="{% url 'galeria' %}">Galeria</a></li>
            {% endif %}
        </ul>

        <div class="nav-iconos">
            {% if user.is_authenticated %}
            <div class="nav-user-dropdown">
                <i class="ri-user-line"></i>
                <div class="dropdown-content">
                    <a href="{% url 'perfil' %}">
                        <i class="ri-user-line"></i>
                        Perfil de usuario
                    </a>
                    <a href="{% url 'logout' %}">
                        <i class="ri-logout-box-line"></i>
                        Cerrar sesión
                    </a>
                    <a href="{% url 'manual' %}">
                        <i class="ri-book-line"></i>
                        Manual de usuario
                    </a>
                </div>
            </div>
            <div class="cart-icon-container">
                <a href="{% url 'carrito' %}">
                    <i class="ri-shopping-cart-line"></i>
                    <span id="contador-carrito">0</span>
                </a>
            </div>
            {% else %}
            <a href="{% url 'login' %}"><i class="ri-user-line"></i></a>
            {% endif %}
            <div class="bx bx-menu" id="menu-icon"></div>
            </div>
        </header>

    {% block content %}
    <main>

    </main>
    {% endblock %} 
    
     <!-- footer --> 
    <footer class="pie-pagina">
        <div class="contenedores contenedor-pie-pagina">
            <div class="menu-pie-pagina">
                <div class="pie-contenido">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
                <div class="informacion-contacto">
                    <p class="titulo-pie-pagina">Información de Contacto</p>
                    <ul>
                        <li><i class="fa-solid fa-location-dot"></i> Calle 9 #5-71, El Pital, Huila</li>
                        <li><i class="fa-solid fa-phone"></i> (312) 597 5274</li>
                        <li><i class="fa-solid fa-envelope"></i> TiendaLuigui@gmail.com</li>
                    </ul>
                    <div class="iconos-sociales">
                        <span class="facebook">
                            <a href="https://web.facebook.com" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </span>
                        <span class="whattsapp">
                            <a href="https://wa.me/573125975274?text=Hola,%20quiero%20más%20información
                            " target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="informacion">
                    <p class="titulo-pie-pagina">Enlaces Rápidos</p>
                    <ul>
                        <li><a href="inicio.html">Inicio</a></li>
                        <li><a href="catalogo.html">Catálogo</a></li>
                        <li><a href="galeria.html">Galeria de imagenes</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="derechos-autor">
            <p>
                &copy; Copyright The Towers Development 2025
            </p>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 100,
        duration: 1450,
    }); 
</script>

    {% block script %} {% endblock %}
</body>
</html>